<%# comment : Add the header from the template%>
<%- include("partials/header"); -%>

<h1> Home </h1>

<%# comment : Add placeholder for the home screen content.%>
<p>
    <%= homeText %>
</p>
 

<% blogPost.forEach(function(blog) { %>
      <h3> <%= blog.Title %> </h3>  
      <p>  <%= blog.Post.substring(0,50) + " .." %>  </p>  
<%  }) %>

<%# comment : Add the footer from the template %>
<%-  include("partials/footer"); -%>